/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  font-size: 90%;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: rgb(47, 47, 47);
  /* overflow-x: hidden; */
  /* scroll-behavior: smooth; */
}

:root{
  --p-color: #578FFF;
  --s-color: #F3F7FF;
  --sides: 3rem; 
}

a{
  text-decoration: none;
  color: inherit;
}

.heading{
  font-size: 4rem;
  text-align: center;
  color: var(--p-color);
  font-weight: 800;
  text-transform: uppercase;
}

.sub-heading{
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}



header{
  background-color: var(--p-color);
  height: 90vh;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  color: white;
  overflow: hidden;
  position: relative;
}

nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem var(--sides);
}

.brand-logo{
  font-size: 1.8rem;
  font-weight: 700;
  width: 220px;
}

.nav-links ul{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.nav-links ul li{
  margin-left: 2rem;
  font-size: 1.3rem;
}

.slider-buttons{
  width: 80px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button-one, .slider-button-two{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  margin: 0.2rem 0.2rem;
  opacity: 0.5;
  cursor: pointer;
}

.active-button{
  background: white;
  opacity: 1;
}

@media(max-width: 425px){
  
.brand-logo{
  width: 150px;
}

.brand-logo{
  margin-bottom: 0.3rem;
}

.slider-buttons{
  width: 60px;
  height: 15px;
}

.slider-button-one, .slider-button-two{
  width: 10px;
  height: 10px;
}

}

@media(max-width: 375px){
  nav{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media(max-width: 589px){
  .nav-links ul li{
    margin-left: 1rem;
    font-size: 1rem;
  }
}

/* hero section */

.hero-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80%;
  margin: 1rem var(--sides);
  position: relative;
}

.hero-content{
  letter-spacing: 0.8px;
  position: relative;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
}

.hero-heading{
  font-size: 7rem;
  font-size: calc(1rem + 1vw);
}

.hero-sub-heading{
  font-size: 1.5rem;
  margin: 0.8rem 0rem;
  margin-bottom: 1.8rem;
  margin-left: 2.2rem;
  display: flex;
}

.hero-sub-two{
  margin-left: 5rem;
}


.hero-button{
  font-size: 2rem;
  background: white;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 35px;
  color: var(--p-color);
  font-weight: 700;
  border: 3px solid transparent;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.hero-button:hover{
  background: transparent;
  color: white;
  border: 3px solid white;
}

.hero-image-container{
  /* justify-self: flex-start;
  position: absolute;
  bottom: -1%;
  right: 10%; */
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-image-container img{
  /* width: 700px; */
  width: calc(150px + 25vw);
}

.hero-form .consult-form{
  width: 100%;
  margin: 0rem;
}

@media(max-width: 1024px){
  .hero-heading{
    font-size: calc(2.5rem + 1vw);
  }

  .hero-sub-heading{
    font-size: 1.3rem;
    margin: 0.8rem 0rem;
    margin-bottom: 1.8rem;
    margin-left: 1.5rem;
  }

  .hero-image-container img{
    /* width: 700px; */
    width: calc(150px + 25vw);
  }

  .hero-button{
    font-size: 1.5rem;
  }
}

@media(max-width: 425px){
/* 
  .hero-section{

    align-items: flex-start;
    justify-content: start;
  } */

  .hero-heading{
    font-size: 2.1rem;
  }

  .hero-sub-heading{
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
  }

  .hero-image-container{
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    bottom: 0%;
    right: 0%;
  }

  .hero-button{
    font-size: 1rem;
  }
}

/* end hero section */

/* info-section */

.info-section{
  padding-top: 1rem;
}

.info-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10rem var(--sides);
}

.info-box:nth-of-type(even){
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.info-content{
  width: 50%;
  padding: 2rem;
}

.info-heading{
  text-align: left;
  color: rgb(29, 29, 29);
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.info-section-heading{
  margin: 0rem var(--sides);
}

.info-section-sub-heading{
  margin: 0rem var(--sides);
}

.info{
  font-size: 2rem;
}

.info-image{
  width: 50%;
  padding: 2rem;
}

.info-image img{
  width: 100%;
  display: block;
  margin: auto;
}

@media(max-width: 1024px){
  .info-content{
    padding: 1rem;
  }

  .info{
    font-size: 1.5rem;
  }

  .info-heading{
    font-size: 2rem !important;
    margin-bottom: 1rem;
  }


  .info-image{
    padding: 1rem;
  }
}

@media(max-width: 768px){
  .info-box{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
  }
  
  .info-box:nth-of-type(even){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .info-content, .info-image {
    width: 100%;
  }
}

@media(max-width: 425px){
  .info-box{
    margin-bottom: 5rem;
  }

  .info-section-heading{
    margin: 0rem var(--sides);
    margin-bottom: 0.5rem;
  }

  .info-section .sub-heading{
    margin: 0rem var(--sides);
  }

  .info-content, .info-image{
    padding: 0rem;
  }

  .info-content{
    margin-bottom: 1rem;
  }
}

/* end info-section */

/* pills-section */

.pills-section{
  background: var(--s-color);
  padding: 2.5rem 0rem;
}

.pill-cards{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem calc(var(--sides) - 1rem);
  margin-bottom: 2rem;
}

.pill-card{
  width: 18rem;
  background: white;
  padding: 1rem 1.2rem;
  border-radius: 25px;
  -webkit-box-shadow: -1px 10px 19px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 10px 19px -10px rgba(0,0,0,0.75);
  margin: 2rem 1rem;
}

.pill-name{
  text-align: right;
  color: rgb(98, 98, 98);
}

.pill-image{
  display: block;
  margin: auto;
  width: 100%;
}

.pill-cta{
  color: var(--p-color);
  border: 2px solid var(--p-color);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.pill-cta:hover{
  background-color: var(--p-color);
  color: white;
}

/* end pills-section */

/* pain killer */

.painkiller-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem var(--sides);
}

.painkiller-image-container{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.painkiller-image-container img{
  width: 100%;
}

.painkiller-content{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}

.painkiller-heading{
  text-align: left;
}

.painkiller-text{
  margin-top: 1.5rem;
  font-size: 2.3rem;
}

@media(max-width: 1024px){
  .painkiller-heading{
    font-size: 2rem !important;
  }

  .painkiller-text{
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}

@media(max-width: 768px){
  .painkiller-section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .painkiller-heading{
    text-align: center;
    margin-top: 1rem;
  }

  .painkiller-content, .painkiller-image-container{
    padding: 0rem;
  }
}

/* end pain killer */

/* process section */

.process-section{
  padding: 7rem 0rem;
}

.process-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem calc(var(--sides) - 1rem);
}

.process-card{
  width: 22rem;
  padding: 1rem;
  background: var(--s-color);
  border-radius: 25px;
  margin: 2rem 1rem;
  -webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.67);
  box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.67);
}

.process-card p a{
  text-decoration: underline;
}

.process-card img{
  display: block;
  margin: auto;
  width: 90%;
}

.process-card p{
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;
}

@media(max-width: 425px){
  .process-card{
    width: 20rem;
  }
}


/* end process section */

/* faq section */

.faq-section{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10rem;
  margin: 0rem var(--sides);
  position: relative;
  
}

.faq-section-heading{
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  
}


.faq-heading{
  text-align: left;
  padding-right: 1rem;
}

.faqs{
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.faq{
  margin-bottom: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.faq-question{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.3rem;
  font-weight: 500;
  color: rgb(47, 47, 47);
  cursor: pointer;
}

.faq-question span{
  color: var(--p-color);
  
}

.faq-answer{
  background: var(--s-color);
  padding: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.faq-answer a{
  text-decoration: underline;
}

.faq-answer-hide{
  display: none;
}

.faq-divider{
  width: 100%;
  height: 5px;
  background: rgb(95, 95, 95);
  margin-top: 1.5rem;
}

.faq-bg-image{
  position: absolute;
  width: 800px;
  z-index: -1;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

@media (max-width: 1024px){
  .faq-section-heading{
    padding-right: 1rem;
  }
}


@media(max-width: 768px){
  .faq-section{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .faq-heading{
    margin-bottom: 2rem;
  }

  .faq-bg-image{
    width: 100%;
  }
}

@media(max-width: 425px){
  .faq-question{
    font-size: 1.6rem;
  }

  .faq-answer{
    font-size: 1.2rem;
  }
}

/* end faq section */

/* contact-section */

.contact-section{
  padding: 8rem 0rem;
}

.consult-form{
  width: 80%;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--s-color);
  padding: 1.5rem;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 7px -5px rgba(0,0,0,0.58);
  box-shadow: 0px 6px 7px -5px rgba(0,0,0,0.58);
}

.form-label{
  font-size: 1.8rem;
  margin: 0.5rem 0rem;
}

.form-label span{
  color: rgb(159, 159, 159);
}

.form-input{
  margin-bottom: 1.5rem;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  font-weight: 600;
  border-radius: 12px;
}

.form-input:focus{
  outline: 1px solid var(--p-color);
}

.submit-button{
  font-size: 2.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.3rem auto;
  border: 2px solid var(--p-color);
  background: var(--p-color);
  color: white;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 0rem;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.submit-button:hover{
  background: transparent;
  color: var(--p-color);
}

@media(max-width: 425px){
  .consult-form{
    width: 90%;
    padding: 0.8rem;
  }

  .form-label{
    font-size: 1.2rem;
  }

  .form-input{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .submit-button{
    font-size: 1.8rem;
  }
}

/* end contact-section */

/* footer */

footer{
  background: rgb(74, 74, 74);
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: rgb(176, 176, 176);
}

@media(max-width: 425px){
  footer{
    font-size: 1.5rem;
  }
}

/* end footer */

/* pop up form */

.pop-up-form{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
}

.pop-up-form .consult-form{
  max-width: 800px;
}

.pop-up-form .heading{
  margin-top: 5rem;
}



.pop-up-form::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: -1;
}

.form-close{
  position: absolute;
  top: 2%;
  right: 2%;
  width: 4rem;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.form-close:hover{
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

@media(max-width: 425px){
  .form-close{
    width: 2rem;
    top: 1%;
    right: 1%;
  }
}

/* pop up form */

/* call us float */

.call-us-container{
  background-color: var(--p-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  min-height: 60px;
  border-top-right-radius: 35px;
  position: fixed !important;
  left: 0%;
  text-align: center;
  position: absolute;
  bottom: 1.5%;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.call-us-container img{
  position: absolute;
  bottom: -9px;
  right: -80px;
}

.call-us-container div{
  margin: 0rem 1rem;
}

.call-us-heading{
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem auto;
  color: white;
}

.call-us-number{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: white;
  display: block;
  text-decoration: underline;
}

@media(max-width: 425px){
  .call-us-container{
    width: 200px;
  }

  .call-us-heading{
    font-size: 1rem;
  }

  .call-us-number{
    font-size: 0.8rem;
  }

  .call-us-container img{
    width: 100px;
    position: absolute;
    bottom: -6px;
    right: -35px;
  }
  
}

main{
  overflow-x: hidden;
}
/* end call us */

.offer-message{
  width: 100%;
  text-align: center;
  background: rgb(255, 255, 255);
  color: var(--p-color);
  padding: 0.2rem;
  font-size: 1rem;
}

/* media queries */

@media(max-width: 1024px){
  .heading{
    font-size: 3rem;
  }  

  .sub-heading{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
}

@media(max-width: 768px){
  .heading{
    font-size: 2.2rem;
  }  

  .sub-heading{
    font-size: 1.25rem;
  }
}

@media(max-width: 425px){

  :root{
    --sides: 1.2rem; 
  }

  
  .heading{
    font-size: 2rem;
  }  

  .sub-heading{
    font-size: 1.2rem;
  }
}

/* end media queries */